<table class="table table-condensed keytable">
    <thead>
        <tr>
            <th colspan="3">
                <label class="control-label">{{keytableExpl.heading}}</label>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in keytableExpl.rows">

            <td class="keyPropertiesTd">
                <input type="text" class="form-control" ng-model="item.key" disabled/>
            </td>
            <td ng-if="isArray(item.value)">
                <div ng-repeat="round in item.value">
                    <input type="text" class="form-control" ng-model="round" disabled/>
                </div>
            </td>
            <td ng-if="!isArray(item.value)">

                <input type="text" class="form-control" ng-model="item.value" disabled/>

            </td>
        </tr>
    </tbody>
</table>