<div class="ProperParams" ng-controller="ProperParamsController as ProperParams">

    <div class="title">Query</div>

    <div class="form-group">
        <div id="header">
            <ul class="nav">
                <li>
                    <a ng-model="ProperParams.TypeQuery">{{ProperParams.TypeQuerySelect}}</a>
                    <ul>
                        <li ng-repeat="type in ProperParams.TypeQuery" ng-click="ProperParams.SelectTypeData(type)">
                            <a>{{type}}</a>
                        </li>
                    </ul> 
                </li>

            </ul>
        </div>
    </div>


    <div class="form-group" ng-if="ProperParams.model.query != undefined">
        <textarea name="Query" rows="4" class="form-control" ng-model="ProperParams.QueryText" ng-blur="ProperParams.changeQueryText()">
        </textarea>
    </div>

    <div id="ddd" class="form-group" ng-if="ProperParams.model.img != undefined">
        <label for="btnSelecionar" id="labelSelecionar">Load File</label>
        <input id="btnSelecionar" class="inputfile" type="file" ng-model="ProperParams.imageFile" accept="image/*" />
    </div>
    <!--<input id="btnSelecionar" class="inputfile" type="file" accept="image/*"  >-->
    <div class="form-group">
        <button id="ButtonSave" type="button" ng-click="ProperParams.Save()">SAVE</button>
    </div>
</div>