<div ng-controller="PropertiespanelController as propertiespanel" class="full-height side-panel">

    <div class="title">Properties</div>

    <div ng-hide="propertiespanel.block" class="properties">
        <p class="text-center">Select a <strong>single</strong> block to change its properties.</p>
        <p class="text-center"><em>NOTE: The root node represents a tree. Therefore, changes applied to this node will
        persist on the tree object.</em></p>
    </div>

    <div ng-show="propertiespanel.block" class="properties">
        <form>
            <div class="form-group">

                <label for="title" ng-if="propertiespanel.original.category == 'root'">Intend</label>
                <label for="title" ng-if="propertiespanel.original.category != 'root'">Title</label>

                <div id="header" ng-if="propertiespanel.TitleName">
                    <ul class="nav">
                        <li ng-if="propertiespanel.original.category != 'root'"><a ng-model="propertiespanel.block.title">{{propertiespanel.block.title}}</a>
                            <ul>
                                <li ng-repeat="option in propertiespanel.TitleSelect" ng-click="propertiespanel.UpdateProperties(option)">
                                    <a>{{option.value}}</a></li>
                            </ul>
                        </li>
                        <li ng-if="propertiespanel.original.category == 'root'">
                            <a ng-model="propertiespanel.block.title" ng-click="propertiespanel.renameIntends(propertiespanel.block.title)">{{propertiespanel.block.title}}</a>
                        </li>
                    </ul>
                </div>

                <input ng-if="!propertiespanel.TitleName" type="text" class="form-control" name="title" placeholder="Title" ng-keydown="propertiespanel.keydown($event)" ng-model="propertiespanel.block.title" ng-change="propertiespanel.update()">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" rows="4" class="form-control" placeholder="Description" ng-keydown="propertiespanel.keydown($event)" ng-model="propertiespanel.block.description" ng-change="propertiespanel.update()">
        </textarea>
            </div>

            <div class="form-group">
                <b3-key-table heading="Properties" ng-model="propertiespanel.block.properties" ng-change="propertiespanel.update()" class="no-border">
                </b3-key-table>
            </div>
        </form>
    </div>

</div>