.properties {
  padding: @padding-small-2x;

  input:not([type=button]),
  textarea {
    padding: @padding-small;
  }

  label {
    display: block;
    text-transform: uppercase;
    color: @color-light3;
    .font-base;
  }

  #header {
    position: relative;
    display: flex;
    margin-bottom: 1em;
    border-radius: .25em;
    overflow: hidden;
  }


  ul,
  ol {
    list-style: none;
  }

  ul,
  li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .nav li a {
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    display: block;
  }

  .nav li a:hover {
    background-color: @color-blue-light;
  }

  .nav li ul {
    display: none;
  }

  .nav li ul a {
    padding: @padding-small;
    background-color: @color-light4;
  }

  .nav li:hover>ul {
    display: block;
    background-color: @color-light4;

    .first-model {
      background-color: #34798D;
      /* Cambia el color como desees */
    }

    .first-model:hover {
      background-color: @color-blue-light;
    }
  }

  .nav li ul li {
    position: relative;
    color: #fff;
    background-color: @color-light4;

  }

  .nav>li {
    width: 750px;
    float: left;
  }

  .property-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #ButtonSave {
    background-color: @color-red ;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    border: none;
    height: 120%;
    font-weight: bold;
  }


  #ButtonRun {
    background-color: @color-green ;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    border: none;
    height: 100%;
  }

  #ButtonSubMore {
    background-color: @color-light1 ;
    color: @color-dark1 ;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    border: none;
    height: 100%;
    margin-bottom: 5px;
  }

  #DivImg {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }

  #DivImg img {
    width: 100%;
    height: 100%;
  }

  #mi-div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #mi-div table {
    width: 100%;
  }

  #myImg:hover {
    opacity: 0.7;
  }


  #myImg2 {

    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg2:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content,
  #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0)
    }

    to {
      -webkit-transform: scale(1)
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0)
    }

    to {
      transform: scale(1)
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: rgb(252, 252, 252);
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }

  #contenedor {
    margin-left: 30%;
    position: relative;
    display: inline-block;
    text-align: center;
  }

  #closeImg {
    position: absolute;
    color: white;
  }

  .keyPropertiesTdParams {
    position: relative;
  }

  /*
  #loader {
    width: 100%;
    height: 180px;
    position: relative;
    z-index: 1000;

    .txt {
      color: #666;
      text-align: center;
      top: 5%;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: bold;
      line-height: 1.5;
    }
  }
  */
  /* SPINNER ANIMATION */
  .spinner {
    position: relative;
    top: 0%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0)
    }

    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }

  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }

  //model 
  .DivModel {
    margin-bottom: 12px;
    background-color: #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .DivModel label {
    color: #222222;
    font-weight: bold;
    order: 1;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .DivModel button {
    background-color: @color-green-light;
    color: @color-light1;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    order: 2;
    font-size: 11px;
    margin-right: 4px;
  }

  .DivModel button:hover {
    background-color: @color-green;
  }

  #ButtonLoadFile {
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    border: none;
    height: 100%;
  }

  #ButtonSave {
    background-color: @color-green ;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    border: none;
    height: 100%;
  }


  .img-responsive {
    background-color: rgba(45, 45, 45, 0.03);
    border: solid 2px rgba(45, 45, 45, 0.03);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    /*   min-height: 260px; */
  }

  .uploadControler {
    padding: 10px;
    max-width: 280px;
    margin: 0 auto;
  }

  .actions {
    padding: 10px 0px 0px 0px;
  }

  label.btn {
    margin: 0;
  }

  .inputfile {
    display: none;
  }

  #labelSelecionar {
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: none;
    height: 100%;
  }

  #btnSelecionar {
    background-color: #2c3e50;
  }

  //progress-bar
  .progress {
    position: relative;
    height: 30px;
    width: 228px;
    margin-bottom: 3px;
    padding-bottom: 0px;
    background-color: @color-light4;
  }

  .progress-bar {
    position: absolute;
    height: 100%;
    background: @color-blue-dark ;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    margin-right: 20px;
  }

  .progress-bar-text {
    position: absolute;
    margin-top: 7px;
    font-size: 12px;
    margin-left: 8px;
    color: @color-light1 ;
    font-weight: bold;
    margin-right: 10px;
  }

  .progress:hover {
    background-color: @color-blue;

    .progress-bar {
      background-color: @color-blue;
    }
  }

  //load
  #loader {
    height: 50px;
    margin-bottom: 10px;
  }

  .load {
    position: absolute;
    margin-top: 25px;
    margin-left: 120px;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 50px;
    height: 50px;
  }

  .load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
  }

  .load :first-child {
    background: #b9000c;
    animation-delay: -1.5s
  }

  .load :nth-child(2) {
    background: #009e3d;
    animation-delay: -1s
  }

  .load :nth-child(3) {
    background: #005dbf;
    animation-delay: -0.5s
  }

  .load :last-child {
    background: #f9be00
  }

  @keyframes spin {

    0%,
    100% {
      transform: translate(0)
    }

    25% {
      transform: translate(160%)
    }

    50% {
      transform: translate(160%, 160%)
    }

    75% {
      transform: translate(0, 160%)
    }
  }

  // form sub

  .asterisk {
    padding-top: 5px;
    margin-right: 2px;
    color: red;
  }

  .placeholder-text {
    color: #999;
  }

  // .checkbox-tree {}

  .checkbox-tree label {
    display: block;
  }

  .checkbox-tree i {
    margin-right: 5px;
  }

  .checkbox-tree ul {
    list-style-type: none;
    padding-left: 20px;
  }

  .checkbox-tree ul li {
    margin-top: 5px;
  }

  .DivCheckboxFormSub {
    display: flex;
    vertical-align: middle;
  }

  .DivCheckboxFormSub i {
    margin-right: 5px;
    padding-top: 3px;
  }

  .titleSubForm {
    margin-top: 12px;
    margin-left: 10px;
    color: @color-dark1;
    font-weight: bold;
  }

  .ulSelect {
    list-style-type: none;
    padding-left: 0;
  }

  .LiSelect {
    margin-bottom: 5px;
  }

  .expandable {
    cursor: pointer;
  }



  ul.collapsed>.LiSelect>.ulSelect {
    display: none;
  }

  ul.expanded>.LiSelect>.ulSelect {
    display: block;
  }

  .ulSelect .LiSelect {
    margin-left: 0;
  }

  .ulSelect .LiSelect ul.ulSelect .LiSelect {
    margin-left: 20px;
  }

  // boton subit
  .button-container-right {
    text-align: center;
  }

  //advanced-properties-button Substitute
  #buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .advanced-properties-button {
    font-style: italic;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: @color-light3;
    color: @color-light1;
    font-weight: bold;
    margin-right: auto;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .search-link {
    font-size: 15px;
  }

  .search-link-long {
    margin-left: -4px;
    font-size: 15px;
  }

  //Form Sustitute 
  #FormExplainerAccordeon {
    background-color: #85d0e7;

    .panel-heading {
      background-color: #2c3e50;
      color: @color-light1;
    }
  }

  .SearchSutitutebutton {
    background-color: @color-green ;
    color: @color-light1;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    border: none;
  }

  .CleanSutitutebutton {
    background-color: @color-blue;
    color: @color-light1;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    border: none;
  }


  .headerFormH4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .InfoForm {
    text-align: center;
    border-radius: 2px;
  }

  .titleFormH4 {
    text-align: center;
    margin-right: auto;
    margin-left: 10px;
    color: @color-dark1;
    font-weight: bold;
  }

  //Selct checkox font-weight: bold
  label {
    font-weight: normal;
  }

  .bold-text {
    font-weight: bold;
  }

  #IfAdvancedProperties {
    color: @color-dark1 ;
    font-weight: bold;
    font-size: 10px;
  }

  .CheckboxCircule {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid #5d5d5d;
    outline: none;
    cursor: pointer;
    position: relative; 
  }

  .CheckboxCircule:checked {
    border: 1px solid #0075ff;
  }

  .CheckboxCircule:checked::after {
    content: "\2022";
    font-size: 29px;
    color: #0075ff;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }

}